<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= title %></h1>
  <div>
    <a href="https://localhost:3001/admin/getsecret" target="_blank">See current secret</a>
  </div>
  <div><a href="http://localhost:3002/_utils" target="_blank">See Fauxton Admin UI</a></div>
  <div><a href="./validate" target="_blank">Go to Validate Page</a></div>
</body>
</html>